html, body
{
    background: #FeFefF;
    height: 100%;
}

body {
    position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

#wrapper
{
    max-width: 960px;
    margin: 0 auto;	
}


#jibe {
  float: left;
  min-width: 200px;
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

#jive {
  float: left;
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

article
{
	display: block;
    padding: 10px;
    width: 100%;
	*zoom: 1;
	min-height: 30px;
}

article:before,
article:after {
  display: table;
  line-height: 0;
  content: "";
}

article:after {
  clear: both;
}

footer
{
	border-top: 2px dashed #abbac3;
	display: block;
	margin-top: 1em;
    padding-top: 1em;
    font-size: 0.8em;
    color: #555;
}

footer p
{
	font-size: smaller;
	padding-top: 0.8em;
}

h2
{
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
	#jibe 
	{
		clear: left;
	}
	
}

@media print
{
    #wrapper
    {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    article
    {
        width: 100%;
    }
    header
    {
        display: none;
    }
	nav
	{
		display:none;
	}
}
