<!doctype html>
	<meta charset="utf-8">
	<title>You might have meant jibe instead of jive</title>
	<meta name="author" content="Ben Hyrman">
	<meta name="viewport" content="width=device-width">
	<meta property="twitter:creator" content="@hyrmn" />
	<meta property="og:title" content="How to use jibe correctly" />
	<meta property="og:type" content="blog" />
	<meta property="robots" content="index,follow" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="/css/site.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
	<div id="wrapper">
		{{ content }}
		<footer>
			This site and its content is released unencumbered into the public domain.<br />
			The full license can be found at <a href="//raw.github.com/JibeNotJive/JibeNotJive.github.io/master/LICENSE">github.com/JibeNotJive/JibeNotJive.github.io/master/LICENSE</a>
			<p>
			This site will stick around until Merriam-Webster invariably updates the acceptable definitions. That's ok, dictionaries are a reflection of popular usage and are meant to change with the times. We ain't even mad about what they did to 'literally'. 			
			</p>
		</footer>
	</div>
